



<section>
  <div class="col s12 m12">
  <div class="card horizontal border-card">
    <div class="card-image about-img-div">
      <img class="about-img" src="assets/img/sunrise_15.jpg">
    </div>
    <div class="card-stacked">
      <div class="card-content white-text about-content">
      <h1 class="header white-text serif">About Us</h1>
      <hr>
        <h5 class="serif">Our Mission</h5>
        <p>I am a very simple card. I am good at containing small bits of information.</p>

        <h5 class="serif">Our History</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, ducimus.</p>
      </div>
    </div>
  </div>
</div>
</section>
