<section>
  <div class="row">
    <div class="col s12 m12">
      <div class="card border-card" id="donate-card">
        <div class="card-content white-text">
          <div class="-intro">
          <h1 class="card-title serif"> Donations </h1>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, suscipit,
            officia nulla at cumque nisi qui laudantium dolorem veritatis praesentium
            in excepturi eum cupiditate voluptas, ad fugit facere. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit. Recusandae hic numquam
            non eligendi ut, esse, quae voluptas vitae amet nesciunt! Lorem ipsum
            dolor sit amet, consectetur adipisicing elit. Maxime consequuntur
            dolorum et repudiandae, reiciendis mollitia expedita nisi beatae
            labore atque? </p>
          </div>


<div class="row">
<div class="col s12 m6">
  <div class="card donate-sec">
  <div class="card-content white-text">
    <h5 class="card-title serif">Donate Time</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, suscipit,
      officia nulla at cumque nisi qui laudantium dolorem veritatis praesentium
      in excepturi eum cupiditate voluptas, ad fugit facere. Voluptatum, dolores.</p>
  </div>
  <div class="donate-options">
      <div class="col s12 m12">
        <div class="card">
          <div class="card-content white-text">
            <h5 class="card-title">Option 1</h5>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>

          <div class="right-align">
            <a class="waves-effect waves-light btn">learn more</a>
          </div>

          </div>
        </div>
      </div>


      <div class="col s12 m12">
        <div class="card">
          <div class="card-content white-text">
            <h5 class="card-title">Option 2</h5>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>

          <div class="right-align">
            <a class="waves-effect waves-light btn">learn more</a>
          </div>

          </div>
        </div>
      </div>


    <div class="col s12 m12">
      <div class="card">
        <div class="card-content white-text">
          <h5 class="card-title">Option 3</h5>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>

            <div class="right-align">
              <a class="waves-effect waves-light btn">learn more</a>
            </div>

        </div>
      </div>
    </div>


    <div class="col s12 m12">
      <div class="card">
        <div class="card-content white-text">
          <h5 class="card-title">Option 4</h5>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>

            <div class="right-align">
              <a class="waves-effect waves-light btn">learn more</a>
            </div>

        </div>
      </div>
    </div>


    <div class="col s12 m12">
      <div class="card">
        <div class="card-content white-text">
          <h5 class="card-title">Option 5</h5>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>

            <div class="right-align">
              <a class="waves-effect waves-light btn">learn more</a>
            </div>

        </div>
      </div>
    </div>


    <div class="col s12 m12">
      <div class="card">
        <div class="card-content white-text">
          <h5 class="card-title">Option 6</h5>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>

            <div class="right-align">
              <a class="waves-effect waves-light btn">learn more</a>
            </div>

        </div>
      </div>
    </div>
</div>
</div>
</div>


<div class="col s12 m6">
  <div class="card donate-sec">
  <div class="card-content white-text">
    <h5 class="card-title serif">Donate Capital</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt maxime
      ipsa veritatis, adipisci doloribus similique. Consequuntur perferendis,
      quas laudantium earum nam reprehenderit! Autem quo, nisi saepe, cupiditate
      rerum nulla quisquam?</p>
  </div>
  <div class="donate-options">
      <div class="col s12 m12">
        <div class="card">
          <div class="card-content white-text">
            <h5 class="card-title">Option 1</h5>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>

              <div class="right-align">
                <a class="waves-effect waves-light btn">learn more</a>
              </div>

          </div>
        </div>
      </div>


      <div class="col s12 m12">
        <div class="card">
          <div class="card-content white-text">
            <h5 class="card-title">Option 2</h5>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>

              <div class="right-align">
                <a class="waves-effect waves-light btn">learn more</a>
              </div>

          </div>
        </div>
      </div>


    <div class="col s12 m12">
      <div class="card">
        <div class="card-content white-text">
          <h5 class="card-title">Option 3</h5>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>

            <div class="right-align">
              <a class="waves-effect waves-light btn">learn more</a>
            </div>

        </div>
      </div>
    </div>


    <div class="col s12 m12">
      <div class="card">
        <div class="card-content white-text">
          <h5 class="card-title">Option 4</h5>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>

            <div class="right-align">
              <a class="waves-effect waves-light btn">learn more</a>
            </div>

        </div>
      </div>
    </div>


    <div class="col s12 m12">
      <div class="card">
        <div class="card-content white-text">
          <h5 class="card-title">Option 5</h5>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>

            <div class="right-align">
              <a class="waves-effect waves-light btn">learn more</a>
            </div>

        </div>
      </div>
    </div>


    <div class="col s12 m12">
      <div class="card">
        <div class="card-content white-text">
          <h5 class="card-title">Option 6</h5>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>

            <div class="right-align">
              <a class="waves-effect waves-light btn">learn more</a>
            </div>

        </div>
      </div>
    </div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
</section>
