



<section class="feature-1">
  <div class="row">
    <div class="col s12 m7">
      <div class="card feature-card border-card">
        <div class="card-content white-text feature-content">
          <div class="col s12 m12">
            <h1 class="card-title serif">Card Title 1</h1>
            <hr>
            <p class="feature-p">I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m5 feature-img-col">
      <img class="feature-img" src="{{site.baseurl}}/assets/img/feat/img-2.jpeg" alt="">
    </div>
  </div>
</section>

<section class="feature-2">
<div class="row">
  <div class="col s12 m5 feature-img-col">
    <img class="feature-img" src="{{site.baseurl}}/assets/img/feat/people_0.jpg" alt="">
  </div>

  <div class="col s12 m7">
    <div class="card feature-card border-card">
      <div class="card-content white-text feature-content">
        <div class="col s12 m12">
          <h1 class="card-title serif">Card Title 2</h1>
          <hr>
          <p class="feature-p">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
