<header>

  <nav class="z-depth-0">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo serif">
        ZimUzo | <small>Foundation</small>
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="nav-ul right hide-on-med-and-down">
        <li><a class="serif" href="#about">about</a></li>
        <li><a class="serif" href="#donate">donate</a></li>
        <li><a class="serif" href="#">projects</a></li>
        <li><a class="serif" href="#contacts">reports</a></li>
        <li><a class="serif" href="#contacts">contacts</a></li>
      </ul>
    </div>
  </nav>

  <ul class="nav-ul sidenav" id="mobile-demo">
    <li><a class="serif" href="sass.html">Sass</a></li>
    <li><a class="serif" href="badges.html">Components</a></li>
    <li><a class="serif" href="collapsible.html">Javascript</a></li>
    <li><a class="serif" href="mobile.html">Mobile</a></li>
  </ul>

</header>
