
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ 'ZimUzo/assets/img/icons/' | relative_url }}">
    <meta name="theme-color" content="#ffffff">
    <!-- stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <!-- <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}"> -->
  <!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css"> -->
 <!-- <link rel="stylesheet" href="{{ site.github.url }}/assets/css/style.css"> -->
  <!--  <link rel="stylesheet" href="/ZimUzo/assets/css/style.css"> -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">

    <!--Import Social Media Icons-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
