<section>
  <div class="carousel">
    <a class="carousel-item" href="#one!">
      <img src="{{site.baseurl}}/assets/img/sunrise_3.jpg" alt="">
    </a>
    <a class="carousel-item" href="#two!">
      <img src="{{site.baseurl}}/assets/img/sunrise_10.jpg" alt="">
    </a>
    <a class="carousel-item" href="#three!">
      <img src="{{site.baseurl}}/assets/img/sunrise_11.jpg" alt="">
    </a>
    <a class="carousel-item" href="#four!">
      <img src="{{site.baseurl}}/assets/img/sunrise_13.jpg" alt="">
    </a>
    <a class="carousel-item" href="#five!">
      <img src="{{site.baseurl}}/assets/img/sunrise_14.jpg" alt="">
    </a>
  </div>
</section>
