---
layout: default
---
<div class="row input-row" id="landing">
  {% include landing.html %}
</div>

<div class="row input-row" id="features">
  {% include features.html %}
</div>

<div class="row input-row" id="testimonials">
  {% include testimonial.html %}
</div>

<div class="row input-row" id="about">
    {% include about.html %}
</div>

<div class="row input-row" id="team">
    {% include team.html %}
</div>

<div class="row input-row" id="donate">
    {% include donate.html %}
</div>


  <!-- Project and Report blog posts -->
