---
layout: default
---
<div class="row">
  <article id="landing">
    {% include landing.html %}
  </article>
</div>

<div class="row">
  <article id="features">
    {% include features.html %}
  </article>
</div>

<div class="row">
  <article id="testimonials">
    {% include testimonial.html %}
  </article>
</div>

<div>
  <article id="about">
    {% include about.html %}
  </article>
</div>

<div>
<article id="team">
  {% include team.html %}
</article>
</div>

<article id="donate">
  {% include donate.html %}
</article>

<article>
  <!-- Project and Report blog posts -->
